body{
    background-color: rgb(30, 34, 37);
    color: white;
    font-family: 'Segoe UI';

    margin: 0 auto;
}

/* MINHA SEGUNDA SECTION SE CHAMA SESSAO-SOBRE*/
/* COLOQUEM O NOME DA SEGUNDA SECTION DE VOCÊS*/
#sessao-sobre{ 
    background-color: rgb(40, 46, 51);;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:green
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(188, 186, 186);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px;   
    margin: 0 auto;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

li{
    display: inline;
    margin: 20px;
}

.imgtopo{
    width: 200px;
    height: 60px;
}

.main{
    flex-direction: column;
    padding: 15px;
}

section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;   
}

.imgbody{
    width: 500px;
    height: 500px;
}

p{
    line-height: 20px;
    max-width: 500px;
}

input{
    border-radius: 15px;
    border: none;
    height: 20px;
    padding: 5px;
}

#btn-enviar{
    width: 100px;
    height: 30px;
    background-color: rgb(67, 160, 67);
    font-weight: bold;
    color: white;
}

#btn-enviar:hover{
    cursor: pointer;
}

footer{background-color: #565656;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height:50px;

    
}
